head
    meta(charset='UTF-8')
    title Internal Server Error
    link(rel='stylesheet' href='/style/error.css')

h1 Something unexpected happened.
p
    a#back(onclick='history.back()') Try again
    |  please
