head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, inital-scale=1.0')
    title Internal Server Error
    link(rel='stylesheet' href='/style/error.css')

h1 Something unexpected happened.
p
    a#back(onclick='history.back()') Try again
    |  please
