head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, inital-scale=1.0')
    title My Homepage
    link(rel='stylesheet' href='/style/main.css')

h1 My Homepage
h3 Menus
ul#menu
    li.item
        a(href='todo') My todo list
